.container {
    width: 1700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.Footer {
    background: #fff;
    box-shadow: 0 0 10px #ccc;
    padding: 30px 0 50px;
}

li {
    margin-bottom: 10px;
    font-weight: 500;
}

.Link {
    color: #000;
}
p{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
}
p:after{
    content: '';
    display: block;
    width: 35%;
    margin-top: 10px;
    height: 1px;
    background: #000;
}